@import '../../variables';


.mainContainer {
	display: flex;
	justify-content: center;
	height: 1000px;
	width: 100%;
}

.inner-container {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
	background: url('../../assets/images/meeting.jpg');
	background-size: cover;
    background-position: center;
	clip-path: polygon(50% 0, 100% 10%, 100% 90%, 50% 100%, 0 90%, 0 10%);
}

.inner-container::after {
	position: absolute;
	content: '';
	height: 100%;
	width:  100%;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: 0.95;
	background: linear-gradient($primary-color 70%, $accent-color 140%);
}

.inner-container .content {
	display: flex;
	flex-direction: column;
	z-index: 99;
	max-width: 1000px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	color: $primary-color-text;
	padding: 12rem 0;
}

.inner-container .content h2 {
	width: 100%;
	text-align: left;
}

.desc-div {
}

.button-div {
	display:  flex;
	justify-content: flex-end;
}