{
	"presets": [
		["es2015",{"modules": false}],
		"stage-0",
		"react",
		"survivejs-kanban",
		"stage-1"
	],
	"plugins": [
		"transform-runtime",
		"react-hot-loader/babel"
	],
	"env": {
		"start" : {
			"presets" : [
				"react-hmre"
			]
		}
	}
}